<div class="container">
    <h3>Privacy Policy for {{info.appTitle}}</h3>

    <p><strong>Introduction</strong></p>
    <p>{{info.appTitle}} ("we," "our," or "us") is committed to protecting the privacy and personal
        information of our members, trainees, and players. This Privacy Policy outlines how we collect, use, disclose,
        and protect your information in accordance with law of Nepal & International Badminton Federation guidelines.
    </p>

    <h5>Information Collection and Use</h5>
    <!-- <p><strong>Personal Information</strong></p> -->
    <p>
        We collect information from our users to provide essential functionality tailored to
        specific roles, including but not limited to members, trainees, players, and normal users.
        The data collected allows us to deliver personalized services and enhance the overall user
        experience. Here is how we collect your information for different user roles:
    </p>
    <ul>
        <li><strong>Trainees (Including Children):</strong></li>
        <ul>
            <li>
                <p>
                    <strong>Personal Information:</strong>
                    <span>
                        We collect details such as name, age, and contact
                        information to tailor training programs and communicate effectively.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Performance Data:</strong>
                    <span>
                        Information about skill level and training progress is
                        collected to provide customized feedback and support.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Parental Consent:</strong>
                    <span>
                        For child trainees, we collect parental consent to ensure
                        compliance with privacy regulations.
                    </span>
                </p>

            </li>
        </ul>
        <li><strong>Membership:</strong></li>
        <ul>
            <li>
                <p>
                    <strong>Account Details:</strong>
                    <span>
                        We gather information such as name, contact information,
                        and payment details to manage membership accounts and process renewals.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Interaction Data:</strong>
                    <span>
                        We collect information about member interactions, such as
                        participation in events and matches, to enhance community engagement.
                    </span>
                </p>

            </li>
        </ul>
        <li><strong>Normal Users:</strong></li>
        <ul>
            <li>
                <p>
                    <strong>Basic Usage Information:</strong>
                    <span>
                        We collect data necessary to provide essential app
                        features, including access to game schedules and scores.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Feedback and Support Requests:</strong>
                    <span>
                        Information is collected through feedback
                        and support inquiries to improve app functionality and user satisfaction.
                    </span>
                </p>

            </li>
        </ul>
        <li><strong>Player Entry for Tournaments:</strong></li>
        <ul>
            <li>
                <p>
                    <strong>Registration Information:</strong>
                    <span>
                        Players provide personal details and contact
                        information to register for tournaments, ensuring accurate scheduling and
                        eligibility verification.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Match Participation Data:</strong>
                    <span>
                        Information about match schedules, results, and
                        performance is collected to organize tournaments and track player progress.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Notification Preferences:</strong>
                    <span>
                        We collect preferences for receiving notifications
                        about match times and updates to provide timely information.
                    </span>
                </p>

            </li>
        </ul>

    </ul>
    <h5>How We Use Your Information</h5>
    <p>Our app collects and utilizes user information to deliver a personalized and efficient
        experience tailored to your role within the app. We prioritize user privacy and ensure that
        all data is used responsibly and securely. Here is how we use your information for
        different user roles:</p>
    <ul>


        <li><strong>Trainees (Including Children):</strong></li>
        <ul>
            <li>
                <p>
                    <strong>Personalized Training Plans:</strong>
                    <span>
                        We collect information to design training
                        programs that cater to each trainee's skill level and development goals. For
                        children, we ensure that data is handled with extra care and parental consent is
                        obtained where necessary.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Progress Tracking:</strong>
                    <span>
                        Trainee data is used to monitor performance and progress
                        over time, allowing coaches to provide targeted feedback and support.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Communication:</strong>
                    <span>
                        We use contact information to communicate training
                        schedules, updates, and important announcements.
                    </span>
                </p>

            </li>
        </ul>


        <li><strong>Membership:</strong></li>
        <ul>

            <li>
                <p>
                    <strong>Account Management:</strong>
                    <span>
                        Information is collected to create and manage
                        membership accounts, including membership status, payment processing, and
                        renewal reminders.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Exclusive Content and Services:</strong>
                    <span>
                        We use data to personalize these offerings
                        and enhance the membership experience.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Member Interaction:</strong>
                    <span>
                        Information is utilized to facilitate interactions among
                        members, such as scheduling matches, sharing updates, and participating in
                        community events.
                    </span>
                </p>

            </li>
        </ul>


        <li><strong>Player Entry for Tournaments:</strong></li>
        <ul>
            <li>
                <p>
                    <strong>Registration:</strong>
                    <span>
                        Players provide personal and contact information to register for
                        tournaments. This ensures eligibility and accurate scheduling.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>Scheduling and Notifications:</strong>
                    <span>
                        We use player information to organize match
                        schedules and send notifications regarding match times, locations, and any
                        changes to tournament details.
                    </span>
                </p>

            </li>

        </ul>

        <li><strong>Normal Users:</strong></li>
        <ul>
            <li>
                <p>
                    <strong>Basic App Functionality:</strong>
                    <span>
                        We collect information necessary to provide
                        essential app features, such as accessing game schedules, scores, and general
                        announcements.
                    </span>
                </p>

            </li>
            <li>
                <p>
                    <strong>User Engagement:</strong>
                    <span>
                        Data is used to understand user preferences and improve
                        app content and features to enhance user satisfaction.
                    </span>
                </p>

            </li>

        </ul>


    </ul>


    <h5>Information Sharing</h5>
    <p>We value your privacy and are committed to ensuring that your information remains
        secure. Our app does not share your personal information with any third parties except as
        required to provide the services and features of our app. We handle all data responsibly
        and maintain strict confidentiality.</p>
    <ul>
        <li><strong>No Third-Party Sharing:</strong>
            <p>
                We do not sell, rent, or lease your personal information to any third parties for marketing or
                other
                purposes.
            </p>
        </li>
        <li><strong>Service Providers:</strong>
            <p>
                In certain cases, we may share information with trusted service
                providers who assist us in delivering app functionality, such as payment processors.
            </p>
        </li>
        <li><strong>Legal Compliance:</strong>
            <p>
                We may disclose information if required by law, regulation, or
                legal request, such as a court order, or to protect the rights, property, or safety of our
                users or others.
            </p>
        </li>

    </ul>
    <h5>Data Security</h5>
    <p>We prioritize the safety and security of your personal information and have implemented
        robust measures to protect your data from unauthorized access, use, or disclosure. Our
        app is committed to maintaining high standards of data protection and ensuring a safe
        user experience.</p>

    <h5>Children's Privacy</h5>
    <p>Our app is designed with children's safety and privacy in mind, providing a secure and
        positive environment that encourages young users to engage in sports. We are committed
        to ensuring that our app complies with all relevant laws and regulations regarding
        children's privacy and data protection.</p>
    <ul>
        <li><strong>Child-Friendly Content:</strong>
            <p>Our app does not contain any harmful or inappropriate
                content. It is specifically designed to motivate children to participate in badminton,
                fostering their development in a healthy and sports-oriented manner.
            </p>
        </li>
        <li><strong>Parental Consent:</strong>
            <p>We require parental consent before collecting any personal
                information from children.
            </p>
        </li>
        <li><strong>Educational and Motivational Focus:</strong>
            <p>The app aims to inspire children to pursue
                badminton, with the goal of nurturing future athletes who can represent the nation in
                sports.
            </p>
        </li>

    </ul>

    <h5>Changes to This Privacy Policy</h5>
    <p>
        We reserve the right to update this Privacy Policy periodically. You will be notified of
        any material changes through the app or by other means. Your continued use of the app
        after the effective date of any changes constitutes acceptance of the updated Privacy
        Policy.
    </p>

    <p><strong>Contact Us</strong></p>
    <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us
        at:
    </p>
    <address>
        <strong>{{info.appTitle}}</strong><br>
        {{info.HEAD_OFFICE}}<br>
        Email: <a>{{info.email}}</a><br>
        Phone: +977- {{info.HEAD_OFFICE_PHONE}}
    </address>

    <p>
        <em>
            By enrolling in {{info.appTitle}}, you acknowledge that you have read and understood this Privacy
            Policy and agree to our data practices as outlined herein.
        </em>
    </p>
</div>