@import 'src/assets/scss/_variables.scss';

.layout {
    min-height: 100vh;
}

.logo {
    width: 120px;
    height: 31px;
    // background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

nz-header {
    position: sticky;
    width: 100%;
}

[nz-menu] {
    line-height: 64px;
}

nz-content {
    padding: 0;
    // margin-top: 64px;
}

nz-breadcrumb {
    margin: 16px 50px;
}

.inner-content {
    background: $white;
    // padding: 24px;
    min-height: 580px;
}

nz-footer {
    text-align: center;
    padding: 0;
}