<div class="">
  <section class="memberentry-section">
    <form class="form" [formGroup]="form">
      <div>
        <div class="sub-title">
          <span>Registration for </span>
        </div>
        <div class="title text-bolder">
          <h3>New user</h3>
        </div>
      </div>
      <div class="flex">
        <label for="">
          <span class="profile-pic">Profile pic</span>
          <div class="clearfix">
            <nz-upload [nzAction]="''" nzListType="picture-card" [(nzFileList)]="fileList"
              [nzShowButton]="fileList.length < 1" [nzPreview]="handlePreview" (nzChange)="handleChange($event)">
              <div>
                <span nz-icon nzType="plus"></span>
                <div style="margin-top: 8px">Upload</div>
              </div>
            </nz-upload>
            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
              (nzOnCancel)="previewVisible = false">
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
              </ng-template>
            </nz-modal>
          </div>
        </label>
      </div>

      <div class="flex">
        <label>

          <span class="required">Name</span>
          <input class="input" type="text" placeholder="Mirak Lawati" autocomplete="off" formControlName="name" />
          <ng-container>
            @if(!f['name'].valid && (f['name'].dirty || f['name'].touched)){
            @if (f['name'].errors?.['required']) {
            <div>
              <span nz-typography nzType="danger">Name is required.</span>
            </div>
            }
            }
          </ng-container>
        </label>
        <label>
          <span class="required">Address</span>
          <input class="input" type="text" placeholder="Damak 1" autocomplete="off" formControlName="address" />
          <ng-container>
            @if(!f['address'].valid && (f['address'].dirty || f['address'].touched)){
            @if (f['address'].errors?.['required']) {
            <div>
              <span nz-typography nzType="danger">Address is required.</span>
            </div>
            }
            }
          </ng-container>
        </label>
      </div>

      <div class="flex">
        <label>
          <span class="required">Mobile</span>
          <input class="input" type="tel" placeholder="" autocomplete="off" formControlName="mobile" />
          <ng-container>
            @if(!f['mobile'].valid && (f['mobile'].dirty || f['mobile'].touched)){
            @if (f['mobile'].errors?.['required']) {
            <div>
              <span nz-typography nzType="danger">Mobile is required.</span>
            </div>
            }
            }
          </ng-container>
        </label>
        <label>
          <span class="ticket">Email</span>
          <input class="input" type="email" placeholder="" autocomplete="off" formControlName="email" />
          <ng-container>
            @if(!f['email'].valid && (f['email'].dirty || f['email'].touched)){
            @if (f['email'].errors?.['required']) {
            <div>
              <span nz-typography nzType="danger">Email is required.</span>
            </div>
            }
            }
          </ng-container>
        </label>
      </div>

      <div class="flex">
        <label for="">
          <span class="required">Password</span>
          <div>
            <nz-input-group [nzAddOnAfterIcon]="showPassword?'unlock':'lock'" (click)="onTogglePassword()">
              <input [type]="showPassword ? 'text' : 'password'" formControlName="passWord" placeholder="Password"
                nz-input />
            </nz-input-group>
          </div>

          <ng-container>
            @if(!f['passWord'].valid && (f['passWord'].dirty || f['passWord'].touched)){
            @if (f['passWord'].errors?.['required']) {
            <div>
              <span nz-typography nzType="danger">Password is required.</span>
            </div>
            }
            }
          </ng-container>
        </label>
        <label for="">
          <span class="required">Confirm password</span>
          <div>
            <nz-input-group [nzAddOnAfterIcon]="showcPassword?'unlock':'lock'" (click)="onTogglecPassword()">
              <input [type]="showcPassword ? 'text' : 'password'" formControlName="cPassword" placeholder="Password"
                nz-input />
            </nz-input-group>
          </div>
          <ng-container>
            @if(!f['cPassword'].valid && (f['cPassword'].dirty || f['cPassword'].touched)){
            @if (f['cPassword'].errors?.['required']) {
            <div>
              <span nz-typography nzType="danger">Confirmation password is required.</span>
            </div>
            }
            @if(f['cPassword'].errors?.['confirmedValidator']){
            <span nz-typography nzType="danger">Password and Confirm Password donot match.</span>

            }
            }
          </ng-container>
        </label>

      </div>


      <app-form-submit-buttons [primaryButtonLabel]="'Save'" (cancel)="onCancel()" [secondaryButtonLabel]="'Cancel'"
        (save)="onSave()" />
    </form>
  </section>

  <!-- <section class="members-list-section">
    <app-user [data$]="userList$" />
  </section> -->
</div>