<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzTitle="Home" nzType="home"></span>
        <span nz-tooltip nzTooltipTitle="Home">
          Home
          <a [routerLink]="['/home']"> </a>
        </span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzTitle="Dashboard" nzType="appstore"></span>
        <span nz-tooltip nzTooltipTitle="Profile"
          >Profile
          <a [routerLink]="['/admin/profile']"></a>
        </span>
      </li>
      <!-- <li nz-menu-item>
                <span nz-icon nzTitle="Inquiry" nzType="question-circle"></span>
                <span nz-tooltip nzTooltipTitle="Inquiry">
                    Inquiry
                    <a [routerLink]="['/auth/inquiry']"></a>

                </span>
            </li> -->
      <li nz-menu-item>
        <span nz-icon nzTitle="Set" nzType="user-add"></span>
        <span nz-tooltip nzTooltipTitle="Members">
          Members
          <a [routerLink]="['/admin/add-member']"></a>
        </span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzTitle="Set" nzType="user-add"></span>
        <span nz-tooltip nzTooltipTitle="Users">
          User
          <a [routerLink]="['/admin/add-user']"></a>
        </span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzTitle="Set" nzType="schedule"></span>
        <span nz-tooltip nzTooltipTitle="Events">
          Events
          <a [routerLink]="['/admin/events/add-event']"></a>
        </span>
      </li>
      <!-- <li nz-menu-item>
                <span nz-icon nzTitle="Set" nzType="schedule"></span>
                <span nz-tooltip nzTooltipTitle="Set">
                    Events
                    <a [routerLink]="['/auth/events']"></a>

                </span>
            </li> -->

      <!-- 
            <li nz-submenu nzTitle="Members" nzIcon="user-add">
                <ul>
                    <li nz-menu-item [routerLink]="['/auth/question-list']">All Members</li>
                    <li nz-menu-item [routerLink]="['/auth/question-list']">Add Member</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Events" nzIcon="schedule">
                <ul>
                    <li nz-menu-item [routerLink]="['/auth/question-list']">All Events</li>
                    <li nz-menu-item [routerLink]="['/auth/question-list']">Add Event</li>
                </ul>
            </li> -->
      <li nz-submenu nzTitle="Setting" nzIcon="setting">
        <ul>
          <li nz-menu-item (click)="onLogout()">Logout</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <nz-content>
      <!-- <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb> -->
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Damak Namuna Badminton Academy </nz-footer>
  </nz-layout>
</nz-layout>
