<div class="table-container">

  <div class="sub-title">
    <span> Events
    </span>
  </div>
  <div class="title text-bolder">
    <h3>
      All Events
    </h3>
  </div>


  @if(data$|async;as data ){
  @if (userRole==='Admin') {
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false">
      <!-- <nz-page-header-title>Title</nz-page-header-title> -->
      <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
      <nz-page-header-extra>
        <nz-space>
          <!-- <button *nzSpaceItem nz-button>Operation</button> -->
          <!-- <button *nzSpaceItem nz-button>Operation</button> -->
          <button *nzSpaceItem nz-button nzType="primary" routerLink="/admin/events/add-event"><span nz-icon
              nzType="plus" nzTheme="outline"></span>Add</button>
        </nz-space>
      </nz-page-header-extra>

    </nz-page-header>
  </div>

  }

  <nz-table [nzFrontPagination]="false" #nzTable [nzBordered]="true" [nzData]="data"
    [nzScroll]="{ x: '600px', y: '635px' }">
    <thead>
      <tr>
        <th></th>
        <th>
          Title
        </th>
        <th>Date/Time</th>

        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      @for (member of nzTable.data; track $index) {

      <tr>
        <td nzEllipsis>
          <img height="150" width="150" [ngSrc]="member.image" [alt]="member.title">
          <!-- <nz-avatar nzIcon="user" [nzSrc]="member.image"></nz-avatar> -->
        </td>
        <td>{{ member.title |titlecase }}</td>
        <td>
          <p>
            {{ member.eventDate }}
          </p>
          <p>
            {{ member.startTime }}
          </p>
        </td>

        <!-- <td>
          @switch (member.memberShip) {
          @case ('LIFE') {
          <nz-tag [nzColor]="'#2db7f5'">{{member.memberShip|titlecase}}</nz-tag>

          }@case ('QUARTERLY') {
          <nz-tag [nzColor]="'#87d068'">{{member.memberShip|titlecase}}</nz-tag>

          }@case ('MONTHLY') {
          <nz-tag [nzColor]="'#87d068'">{{member.memberShip|titlecase}}</nz-tag>

          }

          @default {
          <nz-tag [nzColor]="'#f50'">{{member.memberShip|titlecase}}</nz-tag>
          }
          }
        </td> -->

        <td>
          <div class="action-buttons">
            <nz-space>


              <button *nzSpaceItem nzTooltipTitle="Edit" nzTooltipPlacement="topLeft" nz-tooltip nz-button
                nzType="primary" nzGhost (click)="onEdit(member.eventId)"><span nz-icon nzType="form"></span></button>
              <!-- <button *nzSpaceItem nzTooltipTitle="Delete" nzTooltipPlacement="topLeft" nz-tooltip nz-button
                nzDanger><span nz-icon nzType="delete"></span>
              </button> -->
            </nz-space>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
  }

</div>