.btn {
  border-radius: 2px;
}


.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

// button {
//   margin-right: 4px;
// }

nz-tag {
  min-width: 69px;
}

/* .table-container {
  overflow-x: auto;
}*/
.table-container {
  padding-top: 4rem;
}

img {
  border-radius: .15rem;
}

@media (min-width:520px) {}


// @media (min-width:991px) {
//   img {
//     height: 150px;
//     width: 150px;
//   }
// }