@if(data$|async;as data){

<section id="about-us" class="container content-container">
  <!-- @for(content of data; track $index){ -->

  <div class="message-section animate__animated animate__fadeIn animate__slow">
    <div class="sub-title">
      <span>Event </span>
    </div>
    <div class="title text-bolder">
      <span>
        {{ data.title }}
      </span>
    </div>

    <div class="image-section animate__animated animate__fadeInUp">
      <img [ngSrc]="data.image" [alt]="data.title" loading="lazy" height="400" width="400" />
    </div>

    <nz-space>
      <time *nzSpaceItem datetime="2020-05-25 12:00:00">
        <p><i class="fas fa-calendar-alt mr-2"></i>{{ data.eventDate }}</p>
      </time>
      <time *nzSpaceItem>
        <p><i class="fas fa-clock mr-2"></i>{{ data.startTime }}</p>
      </time>
    </nz-space>

    <div class="description text-muted">
      <p [innerText]="data.description"></p>
    </div>
    <!-- <button nz-button nzShape="round" (click)="scrollTo('#about-us')">
              {{ show ? 'Show less' : 'Show more' }}
          </button> -->
  </div>

  <!-- } -->
</section>


}@else {
<section id="about-us" class="container content-container">

  <nz-skeleton-element nzType="image" [nzActive]="true"></nz-skeleton-element>
  <nz-skeleton [nzActive]="true">

  </nz-skeleton>
</section>
}