<section id="events" class="events-section">
  <div class="events-container">

    <!-- LEFT: TEXT CONTENT -->
    <div class="message-section animate__animated animate__slideInDown animate__slow">

      <div class="sub-title">
        <span> Events</span>
      </div>
      <div class="title text-bolder">
        <h3> Current Event</h3>
      </div>

      <p class="description">
        Damak Namuna Badminton Academy regularly organizes diverse events and
        training sessions aimed at fostering the sport of badminton. These
        activities cater to players of all levels, from local enthusiasts to
        state and national-level athletes, as well as veteran players.
      </p>

      <a routerLink="/home/events" class="all-events">
        View all events →
      </a>
    </div>

    <!-- RIGHT: EVENTS -->
    <div class="events-grid animate__animated animate__fadeIn">
      @for (event of data; track $index) {
      <nz-card nzHoverable class="event-card" [nzCover]="coverTemplate"
        [nzActions]="[actionDate, actionTime, actionMore]">
        <nz-card-meta [title]="event.description" [nzTitle]="event.title"
          [nzDescription]="event.description | truncate: 160"></nz-card-meta>
      </nz-card>

      <ng-template #coverTemplate>
        <img nz-image [appLazyImg]=" event.image" [nzSrc]="event.image" [alt]="event.title" [title]="event.title" />
      </ng-template>

      <ng-template #actionDate>
        <span>{{ event.eventDate | nepaliDateFormatter }}</span>
      </ng-template>

      <ng-template #actionTime>
        <span>{{ event.startTime }}</span>
      </ng-template>

      <ng-template #actionMore>
        <button title="Show Details" class="view-more" nz-button nzType="text" nzShape="circle"
          (click)="showMore(event.eventId)">
          <span nz-icon nzType="right"></span>
        </button>
      </ng-template>
      }
    </div>

  </div>
</section>