@import 'src/assets/scss/_variables.scss';

.content-container {
  text-justify: justify;
  background-color: $tone-green-light;
  display: flex;
  place-content: center;
  // font-family: $font-primary;
}

.image-section {
  box-shadow: none;
  background: none;

  img {
    aspect-ratio: 1/1;
  }
}

.message-section {
  margin: 0;
  //   padding-bottom: 2rem;
}

.ant-card-meta-title {
  font-family: $font-primary;
}

small {
  font-family: $font-primary;
  color: $gold;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }
}

@media (min-width: 320px) {
  .content-container {
    display: flex;
    flex-direction: column;
    place-content: center;

    .image-section {
      display: flex;
      flex-direction: column;
      // margin-top: 2rem;
      gap: 1rem;
      width: 350px;

      img {
        margin: 0.25rem;
        width: 350px;
        height: 240px;
      }
    }

    .message-section {
      //   margin: 0;
      padding-bottom: 2rem;
    }
  }
}

@media (min-width: 768px) {

  nz-card {
    // width: 350px;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    padding: 2rem 7rem;

    .image-section {
      display: flex;
      flex-direction: row;
      // width: auto;
      gap: 1rem;

      img {
        width: 900px;
        height: 300px;
      }
    }
  }
}

@media (min-width: 990px) {
  .content-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem;
    gap: 0;

    .image-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      gap: 1.5rem;
      flex-wrap: nowrap; // 🔥 forces all 3 cards to stay in one row

      nz-card {
        width: 900px; // 🔥 ensures equal width
      }

      img {
        width: 280px;
        height: 280px;
      }
    }

    .message-section {
      text-align: center;
      // padding-bottom: 6rem;

      .description {
        width: 60rem;
        margin: auto;
      }
    }
  }
}