<div class="container">

    <div class="sub-title">
        <span> Members
        </span>
    </div>
    <div class="title text-bolder">
        <h3>
            All members
        </h3>
    </div>


    @if(data$|async;as data ){


    <div class="card-container">
        @for (item of data; track item.memberId) {
        <div class="">

            @if(item.jobType==='Executive'){
<nz-ribbon nzColor="#1e7f3a" [nzText]="item.positionType|uppercase">
    <nz-card [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
        <nz-card-meta [nzTitle]="item.name|titlecase" nzDescription=""></nz-card-meta>
    </nz-card>
</nz-ribbon>
            }@else {

                @switch (item.memberShipType) {
                @case ('Life Time Member') {
                <nz-ribbon nzColor="red" [nzText]="item.memberShipType|titlecase">
                    <nz-card [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
                        <nz-card-meta [nzTitle]="item.name|titlecase" nzDescription=""></nz-card-meta>
                    </nz-card>
                </nz-ribbon>
                }
                @case ('Yearly Member') {
                <nz-ribbon nzColor="blue" [nzText]="item.memberShipType|titlecase">
                    <nz-card [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
                        <nz-card-meta [nzTitle]="item.name|titlecase" nzDescription=""></nz-card-meta>
                    </nz-card>
                </nz-ribbon>
                }
                @case ('Monthly Member') {
                <nz-ribbon nzColor="yellow" [nzText]="item.memberShipType|titlecase">
                    <nz-card [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
                        <nz-card-meta [nzTitle]="item.name|titlecase" nzDescription=""></nz-card-meta>
                    </nz-card>
                </nz-ribbon>
                }
                @default {
                <nz-ribbon nzColor="purple" [nzText]="item.memberShipType|titlecase">
                    <nz-card [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
                        <nz-card-meta [nzTitle]="item.name|titlecase" nzDescription=""></nz-card-meta>
                    </nz-card>
                </nz-ribbon>
                } 
    
                 }
            }

            <ng-template #coverTemplate>
                <img alt="example" [ngSrc]="item.profilePic" height="350" width="350" priority />
            </ng-template>
            <ng-template #actionSetting>

                <a nz-tooltip nzTooltipTitle="Call now" href="tel:{{item.mobile1}}">
                    <i class="fa-solid fa-phone fa-lg"></i>
                    {{item.mobile1 }}
                </a>

            </ng-template>
            <ng-template title="Membership type" #actionEdit>
                <span nz-tooltip nzTooltipTitle="Membership type">

                    <!-- <i class="fa-solid fa-user"></i> -->
                    {{ item.memberShipType|titlecase }}
                </span>
            </ng-template>
            <ng-template #actionEllipsis>
                <span nz-tooltip nzTooltipTitle="Date of birth">

                    <i class="fa-regular fa-calendar fa-lg"></i>
                    {{item.dob| nepaliDateFormatter}}
                </span>

            </ng-template>
        </div>

        <!-- Repeat the card structure for more items -->
        }
    </div>


    }

</div>