<section>
  <app-slider [bannerData]="bannerData" />

  <app-about-us [data]="aboutUsData" />
  <!-- @defer (on viewport;) {

  } -->
  <app-coaches [data]="coachData" />
  
  <img ngSrc="/assets/images/executive_members.jpg" priority="high" height="400" width="700" alt="Executive members image" />

  <app-members [data]="memberData" />
  <app-events [data]="eventData" />
  <!-- <app-gallaries /> -->

  <!-- @defer (on viewport(trigger)) {
    }
    @defer (){

    }
    @defer () {

    <app-why-us />
    }
    @defer () {

    <app-study-destinations />
    }
    <app-videos /> -->
  <!-- <app-gallary /> -->
  <app-our-location [data]="locationData" />
</section>