<section>
  <app-slider [bannerData]="bannerData" />

  <app-about-us [data]="aboutUsData" />
  <app-coaches [data]="coachData" />
  <img src="/assets/images/3.jpg" height="400" width="100%" alt="slider image" />

  <app-members [data]="memberData" />
  <app-events [data]="eventData" />
  <app-gallaries />

  <!-- @defer (on viewport(trigger)) {
    }
    @defer (){

    }
    @defer () {

    <app-why-us />
    }
    @defer () {

    <app-study-destinations />
    }
    <app-videos /> -->
  <!-- <app-gallary /> -->
  <app-our-location />
</section>