<section class="home">

  <app-slider [bannerData]="bannerData"></app-slider>

  <app-about-us [data]="aboutUsData"></app-about-us>

  <!-- EXECUTIVE MEMBERS IMAGE SECTION -->
  <section class="executive-image-section">
    <img
      nz-image
      appLazyImg="/assets/images/executive_members.jpg"
      nzSrc="/assets/images/executive_members.jpg"
      alt="Executive members"
      loading="lazy"
    />
  </section>

  <app-members [data]="memberData"></app-members>

  <app-events [data]="eventData"></app-events>

  <app-our-location [data]="locationData"></app-our-location>

</section>
