@if (showDetails==='false') {

<div class="container">
  <section class="memberentry-section">
    <div>
      <div class="sub-title">
        <span>Training Details </span>
      </div>
      <div class="title text-bolder">
        <h3>{{ mode === 'add' ? 'New' : 'Update' }} Training Details</h3>
      </div>
    </div>

    <form class="form" [formGroup]="form">
      <div class="flex">
        <label>
          <span class="required">Title</span>
          <input
            class="input"
            type="text"
            placeholder=""
            autocomplete="off"
            formControlName="title"
          />
        </label>

        <label>
          <span class="required" for="dob">Date</span>
          <ne-datepicker
            language="en"
            [date]="date"
            dateIn="AD"
            (dateInBS)="updateNepaliDate($event)"
            (dateInAD)="updateEnglishDate($event)"
          >
          </ne-datepicker>
        </label>
      </div>

      <div class="flex">
        <label>
          <span class="required">Description</span>
          <textarea
            formControlName="description"
            nz-input
            placeholder=""
            [nzAutosize]="{ minRows: 4, maxRows: 6 }"
          ></textarea>
        </label>
      </div>
      <!-- <button class="submit" (click)="addSubDetail()">Add Link</button> -->
      <button nz-button nzShape="round" (click)="addSubDetail()">
        <span nz-icon nzType="plus"></span>
      </button>

      <ng-container formArrayName="subDetailList">
        @for (link of subDetail.controls; track $index) {
        <nz-list nzItemLayout="vertical">
          <nz-list-item [formGroupName]="$index">
            <!-- <div class=""> -->
            <label>
              <span class="not-compulsory">Link</span>
              <input
                class="input"
                type="text"
                placeholder=""
                autocomplete="off"
                formControlName="link"
              />
            </label>
            @if(trainingDetails){

            <!-- #BUG EUTA LINK DELETE GARDA ARKO LINK DELETE VAYO -->
            <!-- #TODO -->
            <nz-list nzItemLayout="vertical">
              <div class="video-container">
                <nz-list-item>
                  <nz-list-item-extra>
                    <youtube-player
                      [videoId]="link.value.link | youtubeLinkPipe"
                    />
                  </nz-list-item-extra>
                </nz-list-item>
              </div>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <span
                    nz-icon
                    nzType="delete"
                    (click)="showModal(link.value.trainingSubDetailId,$index)"
                    >Delete</span
                  >
                  <nz-modal
                    nzTitle="DELETE"
                    nzOkText="Delete"
                    nzCancelText="Cancel"
                    [nzOkDanger]="true"
                    [(nzVisible)]="isVisible"
                    [nzOkLoading]="isLoading"
                    (nzOnCancel)="handleCancel()"
                    (nzOnOk)="onRemoveLink()"
                  >
                    <ng-container *nzModalContent>
                      <strong> Are you sure delete this link?<br /> </strong>
                      <small> *Note: </small>
                      <p><em> Deleted links cannot be recovered. </em></p>
                    </ng-container>
                  </nz-modal>
                </nz-list-item-action>
              </ul>
            </nz-list>
            }
            <!-- </div> -->
          </nz-list-item>
        </nz-list>
        }
      </ng-container>
      <div>
        <app-form-submit-buttons
          [primaryButtonLabel]="'Save'"
          [secondaryButtonLabel]="'Cancel'"
          (save)="onSave()"
          (cancel)="onCancel()"
        />
      </div>
    </form>
  </section>
</div>
}@else {

<div class="showDetails">
  @if (trainingDetails; as details) {

  <nz-list-item-meta-title>
    <h4>
      {{ trainingDetails.title }}
    </h4>
  </nz-list-item-meta-title>
  <nz-list-item-meta-description>
    {{ trainingDetails.description }}
  </nz-list-item-meta-description>

  @for (item of details.subDetailList; track item) {
  <div class="video-container">
    <nz-list>
      <nz-list-item>
        <youtube-player [videoId]="item.ytlink" />
      </nz-list-item>
    </nz-list>
  </div>
  } }
</div>

}
