<div class="table-container">

    <div class="sub-title">
        <span>All members
        </span>
    </div>
    <div class="title text-bolder">
        <h3>
            All members
        </h3>
    </div>
    <div class="table-operations">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input [(ngModel)]="searchValue" type="text" nz-input placeholder="Search memmber... " />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>

        <button class="action-button"  nz-button nzType="primary" routerLinkActive
            routerLink="/admin/add-member">
            Add
        </button>

    </div>

    @if(data$|async;as data ){
    <div class="site-page-header-ghost-wrapper">
        <nz-page-header [nzGhost]="false">

            <!-- <nz-page-header-title>Title</nz-page-header-title> -->
            <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->

            @if (userRole==='Admin') {

            <nz-page-header-extra>

            </nz-page-header-extra>

            }
        </nz-page-header>
    </div>


    <nz-table [nzFrontPagination]="false" #nzTable [nzBordered]="true" [nzData]="data"
        [nzScroll]="{ x: '600px', y: '635px' }">
        <thead>
            <tr>
                <th></th>
                @for (column of listOfColumn; track column) {
            <th [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
              {{ column.title }}
            </th>
          }
                <th>Mobile</th>
                <th>Member Type</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @for (member of nzTable.data| search: searchValue;track $index) {

            <tr>
                <td class="text-center">
                    <nz-avatar [nzSize]="90" nzIcon="user" [nzSrc]="member.profilePic"></nz-avatar>
                </td>
                <td>{{member.snNo}}</td>
                <td>{{ member.name |titlecase }}</td>
                <td>
                    <p>
                        {{ member.mobile1 }}
                    </p>
                    <p>
                        {{ member.mobile2 }}
                    </p>
                </td>

                <td>
                    @switch (member.memberShip) {
                    @case ('Life') {
                    <nz-tag [nzColor]="'#FFD700'">{{member.memberShip|titlecase}}</nz-tag>

                    }@case ('Monthly') {
                    <nz-tag [nzColor]="'#3f87f5'">{{member.memberShip|titlecase}}</nz-tag>

                    }
                    <!-- ANNUAL -->
                    @default {
                    <nz-tag [nzColor]="'#87d068'">{{member.memberShip|titlecase}}</nz-tag>
                    }
                    }
                </td>

                <td>
                    <div class="action-buttons">

                        <button nzTooltipTitle="View More" nzTooltipPlacement="topLeft" nz-tooltip nz-button
                            nzType="primary" nzGhost (click)="onViewMore(member.memberId)">
                            <span nz-icon nzType="eye"></span>
                        </button>
                        <!-- <button nzTooltipTitle="Delete" nzTooltipPlacement="topLeft" nz-tooltip nz-button nzDanger><span
                                nz-icon nzType="delete">
                            </span>
                        </button> -->

                    </div>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
    }

</div>