<div class="concentric-rings ">
    <div id="member" class="content-container 	">
        <div class="message-section animate__animated animate__fadeInUp animate__delay-4s animate__slow">
            <div class="sub-title">
                <span>Members
                </span>
            </div>
            <div class="title text-bolder">
                <span>
                    Members
                </span>
            </div>
            <div class="description text-muted">
                <p>
                    Namuna Badminton Academy offers various membership types to suit different needs. Yearly members
                    enjoy
                    access to all
                    facilities and training programs for one year, with the option to renew annually. Lifetime members
                    receive a
                    one-time,
                    exclusive membership that grants them permanent access to all academy benefits and services.
                </p>
                <button nz-button nzType="default" nzShape="round" (click)="scrollTo('#contact-us')">
                    <a>View more</a>
                </button>

            </div>
        </div>

        <div class="image-section">
            @if (data) {

            <div class="members">
                <h2 [countUp]="data.lifeTimeMemberCount " [duration]="5000"></h2>
                <p>Lifetime Members</p>
            </div>
            <div class="members">
                <h2 [countUp]="data.yearlyMemberCount " [duration]="5000"></h2>
                <p>Yearly Members</p>
            </div>
            <div class="members">
                <h2 [countUp]="data.quarterlyMemberCount " [duration]="5000"></h2>
                <p>Quarterly Members</p>
            </div>
            <div class="members">
                <h2 [countUp]="data.monthlyMemberCount " [duration]="5000"></h2>
                <p>Monthly Members</p>
            </div>
            }

        </div>





    </div>
</div>