@import 'src/assets/scss/_variables.scss';

.title {
  // font-size: 28px;
  // color: $primary-color;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: $gold;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: $gold;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.image-section {
  position: relative;
  box-sizing: border-box;
  background-color: $gold;
  width: 24Opx;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);

  .members {
    h2 {
      font-weight: bolder;
      font-family: $font-primary;
      font-size: 3rem;
      margin-bottom: 0;
    }

    p {
      font-weight: $font-weight-light;
    }
  }
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  background-color: $gold;
  border-color: $white;
  color: $white;
  font-size: 18px;

  // padding: 3rem;
  &:hover {
    background-color: $primary-color;
    border: 1px solid $white;
    background-position: 0;
  }

  background: {
    image: linear-gradient(45deg, $primary-color 50%, transparent 50%);
    position: 100%;
    size: 300%;
  }

  transition: background 400ms ease-in-out;
}

/* Small devices such as large phones (640px and up) */
@media (min-width: 320px) {
  .image-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    border-radius: 1rem;

    .members {
      text-align: center;
    }
  }

  .message-section {
    margin-bottom: 2rem;

    .sub-title {
      margin-top: 2rem;
    }

    .description {
      margin-top: 2rem;

      p {
        padding-bottom: 2rem;
      }
    }

    button {
      height: 44px;
      width: 120px;
    }
  }

  // about-us
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    // gap: 2rem;
    min-height: 600px;
    padding: 2rem 2rem;

    // background: rgb(233, 185, 98);
    .image-section {
      display: flex;
      place-content: center;
      flex-wrap: wrap;
      padding: 0;
      width: 100%;
      // margin-top: 2rem;
      border-radius: 1rem;

      .members {
        text-align: center;
      }
    }

    .message-section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .description {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
      }

      p {
        padding-bottom: 2rem;
      }

      button {
        height: auto;
      }
    }
  }
}

@media (min-width: 992px) {
  .content-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2rem;
    padding: 2rem 7rem;

    // background: rgb(233, 185, 98);
    .image-section {
      display: flex;
      flex-direction: row;
      place-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 250px;
      width: 60rem;
      margin-top: 0;
      // gap: 2rem;

      .members {
        text-align: center;

        &:hover {
          transform: scale(1.2);
          transition: 400ms ease-in-out;
        }
      }
    }

    .message-section {
      display: flex;
      flex-direction: column;
      place-content: center;
      flex-wrap: wrap;

      .description {
        display: flex;
        flex-wrap: wrap;
        width: 60rem;

        p {
          padding-bottom: 2rem;
        }
      }

      button {
        height: auto;
        width: 9rem;
        padding: 12px;
        font-size: 1.2rem;
      }
    }
  }
}

/* Large devices such as laptops (1024px and up) */
// @media only screen and (min-width: 64em) {
//   .content-container {
//     padding: 0 6rem;
//     // background: rgb(233, 185, 98);
//   }
//   .image-section {
//     padding: 23%;
//   }
// }

.concentric-rings {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-image: radial-gradient(circle,
      transparent 20%,
      #fff 20%,
      #fff 30%,
      transparent 30%),
    radial-gradient(circle,
      transparent 40%,
      #f7f7f7 40%,
      #f7f7f7 50%,
      transparent 50%),
    radial-gradient(circle,
      transparent 60%,
      #e5e5e5 60%,
      #e5e5e5 70%,
      transparent 70%),
    radial-gradient(circle,
      transparent 80%,
      #d3d3d3 80%,
      #d3d3d3 90%,
      transparent 90%);
  background-size: 100% 100%;
  background-position: center;
}