<!-- ================= MEMBERS SECTION ================= -->
<section class="concentric-rings">
  <div id="member" class="content-container">

    <!-- LEFT CONTENT -->
    <div
      class="message-section animate__animated animate__fadeInUp animate__slow"
    >
    <div class="sub-title">
          <span>Members</span>
        </div>
        <div class="title text-bolder">
          <h3>DNBA FAMILY</h3>
        </div>
      <!-- <span class="sub-title">Members</span>

      <h2 class="title">Members</h2> -->

      <p class="description">
        {{ data?.memberInfo }}
      </p>

      <button class="cta"
        nz-button
        nzType="default"
        nzShape="round"
        routerLink="/home/all-member"
      >
        View more
      </button>
    </div>

    <!-- RIGHT STATS -->
    <div class="image-section">
      @for (member of data?.memberShipList; track member.memberShip) {
        <div class="members">
          <h2 [countUp]="member.count" [duration]="5000"></h2>
          <p>{{ member.memberShip | titlecase }}</p>
        </div>
      }
    </div>

  </div>
</section>