<div class="login-container ">
  <div class="card">
    <div class="img-section">
      <img [src]="logo" alt="">
    </div>
    <div class="form-section">
      <form nz-form [formGroup]="form" class="login-form">
        <nz-form-item>
          <nz-form-control nzErrorTip="Username is missing">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Password is missing">
            <nz-input-group nzPrefixIcon="lock">
              <input [type]="showPassword ? 'text' : 'password'" nz-input formControlName="passWord"
                placeholder="Password" />

              <a (click)="onTogglePassword()">
                <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
              </a>

            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <!-- <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox>
              <span>Remember me</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">Forgot password</a>
          </div>
        </div> -->
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="onLogin()">
          Log in</button>
        <!-- <a class="register" [routerLink]="['/home']" routerLinkActive="router-link-active">Cancel</a> -->

        <ng-container *ngIf="showLinks">
          <app-secondary-links [primaryLinkTitle]="'Register as new user'" [secondaryLinkTitle]="'Cancel'"
            [showSecondaryLink]="showSecondaryLink" [secondaryLinkLabel]="'Cancel'" [primaryLinkLabel]="'Register'"
            (primaryAction)="onRegister()" (secondaryAction)="onCancel($event)" />

        </ng-container>
      </form>
    </div>
  </div>
</div>