@import 'src/assets/scss/_variables.scss';

nz-select {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

::ng-deep .ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: white;
}

::ng-deep .nepali-date-picker .np_datepicker_input --active {
  border-radius: 0;
  outline: none !important;
}

::ng-deep .nepali-date-picker .np_datepicker_input {
  border-radius: 0 !important;
  outline: none !important;
}

::ng-deep .nepali-date-picker {
  box-shadow: none;
}

::ng-deep .nepali-date-picker .datepicker__options-container {
  background-color: $primary-color !important;
}

::ng-deep .nepali-date-picker .datepicker__date--active {
  background-color: $primary-color !important;
}

.admin-members-section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .memberentry-section {
    flex: 1;
  }

  .members-list-section {
    flex: 1;
  }
}

.memberentry-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  // width: 450px;
  // width: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  border: 1px solid lightgray;
}

.title {
  font-size: 28px;
  color: $primary-color;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: $primary-color;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: $primary-color;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: $primary-color;
}

.signin a:hover {
  text-decoration: underline $primary-color;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;

}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 1px;
}

.form label .input+span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid+span {
  color: $primary-color;
}

.submit {
  border: none;
  outline: none;
  background-color: $primary-color;
  padding: 10px;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: $gold;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}


@media (width<=576px) {
  .memberentry-section {
    max-width: 250px;
  }

  .form {
    padding: 14px;
  }

  .flex {
    display: flex;
    flex-direction: column;


    label {
      width: 100%;
    }


  }
}

@media (min-width: 768px) {

  .memberentry-section {
    max-width: 450px;
  }

  .form {
    padding: 22px;

  }

  flex {
    display: flex;
    flex-direction: column;


    label {
      width: 100%;
    }


  }
}

@media only screen and (min-width: 991px) {

  .form {
    padding: 20px;
  }

  .flex {
    display: flex;
    flex-direction: column;

    .form label {
      width: 50%;
    }
  }
}