<!--begin::Signin-->

<div class="registration-container">
    <div class="wrapper">
        <h2>Change Password</h2>
        <form nz-form [formGroup]="form" novalidate="novalidate">

<div class="input-container">
    <div class="input-box">
        <label for="name">Old Password</label>
        <nz-input-group [nzSuffix]="oldPasswordTemplate">
            <input  formControlName="oldPassWord" [type]="showPassword ? 'text' : 'password'" nz-input placeholder=""
                />
        </nz-input-group>
        <ng-template #oldPasswordTemplate>
            <span nz-icon class="ant-input-password-icon" [nzType]="showPassword ? 'eye-invisible' : 'eye'"
                (click)="showPassword = !showPassword"></span>
        </ng-template>  
        </div>
    <div class="input-box">
<label for="name">New Password</label>

<nz-input-group [nzSuffix]="newPasswordTemplate">
    <input formControlName="newPassWord" [type]="showNewPassword ? 'text' : 'password'" nz-input placeholder="" />
</nz-input-group>
<ng-template #newPasswordTemplate>
    <span nz-icon class="ant-input-password-icon" [nzType]="showNewPassword ? 'eye-invisible' : 'eye'"
        (click)="showNewPassword = !showNewPassword"></span>
</ng-template>
    </div>

    
</div>


           

            
            <div class="input-box button">
                <button nz-button routerLink="/home" nzType="default" nz-button>
                    Cancel
                </button>
                <button class="save" nzType="primary" nz-button [disabled]="!form.valid" (click)="onSave()">
                    Save
                </button>
</div>

            </form>
            </div>
        </div>