@import 'src/assets/scss/_variables.scss';


.ant-input-affix-wrapper{
  height:3rem
}
.registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

}

.wrapper {
  position: relative;
  max-width: 32rem;
  width: 100%;
  background: #fcfcfc;
  padding: 2rem;
  // margin-top: 4rem;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #e5e5e5;
}

.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: $black;
}

.wrapper h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: $primary-color;
}

.wrapper form {
  margin-top: 30px;
}


form .input-box {
  margin-bottom: 2rem;

}


button {
  width: 45%;
  font-weight: bold;
  // font-size: 1.1rem;
  height: 3rem;
  margin: 8px;
  border-radius: 0;
  &.save{
    background-color: $primary-color;
    border-color: #e5e5e5;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

}


label {
  font-weight: bold;
  color: #53535f;
}