<div class="table-container">

    <div class="sub-title">
        <span> Trainee
        </span>
    </div>
    <div class="title text-bolder">
        <h3>
            All Trainee
        </h3>
    </div>


    <div class="site-page-header-ghost-wrapper">
        <nz-page-header [nzGhost]="false">


            <!-- <nz-page-header-title>Title</nz-page-header-title> -->
            <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
            <nz-page-header-extra>
                <nz-space>

                    <div [formGroup]="form" *nzSpaceItem class="training-selector">
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select training"
                            formControlName="trainingMasterId">
                            @for (training of trainingList$|async; track $index) {
                            <nz-option [nzLabel]="training.title" [nzValue]="training.trainingMasterId"></nz-option>
                            }

                        </nz-select>
                    </div>
                    <button *nzSpaceItem nz-button>
                        <span nz-icon nzType="search" (click)="onSearch()"></span>
                    </button>
                    <!-- <button *nzSpaceItem nz-button>Operation</button> -->

                    @if (userRole==='Admin') {
                    <button [disabled]="!showAddButton" *nzSpaceItem nz-button nzType="primary" (click)="onAdd()">
                        <span nz-icon nzType="plus" nzTheme="outline"></span>
                        Trainee
                    </button>
                    }
                </nz-space>
            </nz-page-header-extra>

        </nz-page-header>
    </div>

    @if(data$|async;as data ){

    <nz-table [nzFrontPagination]="false" #nzTable [nzBordered]="true" [nzData]="data"
        [nzScroll]="{ x: '900px', y: '635px' }">
        <thead>
            <tr>

                <th>Profile pic </th>
                <th>Name </th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>D.O.B</th>
                <th>Training</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @for (trainee of nzTable.data; track $index) {

            <tr>
                <td class="text-center">
                    <nz-avatar nzIcon="user" [nzSrc]="trainee.profilePic"></nz-avatar>
                </td>

                <td>{{ trainee.name |titlecase }}</td>
                <td>

                    {{ trainee.address|titlecase }}
                </td>
                <td>
                    {{trainee.mobile}}
                </td>

                <td>{{trainee.email}}</td>
                <td>{{trainee.dob}}</td>
                <td>
                    {{trainee.training}}
                </td>


                <td>
                    <div class="action-buttons">
                        <nz-space>
                            <button *nzSpaceItem nzTooltipTitle="View More" nzTooltipPlacement="topLeft" nz-tooltip
                                nz-button nzType="primary" nzGhost routerLink="/admin/user-profile"
                                [queryParams]="{traineeId:trainee.traineeId}">
                                <span nz-icon nzType="eye"></span>
                            </button>
                            @if (userRole==='Admin') {
                            <button *nzSpaceItem nzTooltipTitle="Edit " nzTooltipPlacement="topLeft" nz-tooltip
                                nz-button><span nz-icon nzType="edit" (click)="onEdit(trainee.traineeId)">
                                </span>
                            </button>
                            }
                        </nz-space>

                    </div>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
    }

</div>