<ng-container>
  @if ((userProfile$|async);as userProfile){ @if ( userProfile.user){

  <p class="title" style="margin-bottom: 24px">User Profile</p>
  <nz-descriptions
    nzLayout="vertical"
    [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }"
    nzTitle="Personal"
  >
    <nz-descriptions-item nzTitle=" Name" [nzSpan]="1">
      <div class="details">
        {{ userProfile?.user?.name | titlecase }}
      </div>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Mobile" [nzSpan]="1">
      <div class="details">
        {{ userProfile.user.mobile }}
      </div>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Address" [nzSpan]="1">
      <div class="details">
        {{ userProfile.user.address }}
      </div>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Email" [nzSpan]="1">
      <div class="details">
        {{ userProfile.user.email }}
      </div>
    </nz-descriptions-item>
  </nz-descriptions>
  } @if(userProfile.member){
  <nz-divider></nz-divider>
  <nz-descriptions
    nzLayout="vertical"
    [nzExtra]="memberButtons"
    [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }"
    nzTitle="Member Details"
  >
    <nz-descriptions-item nzTitle="Profile image" [nzSpan]="1">
      <nz-avatar
        [nzShape]="'square'"
        [nzSize]="128"
        nzIcon="user"
        [nzSrc]="userProfile.member.profilePic"
      ></nz-avatar>
      <nz-space [nzSize]="12"> </nz-space>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Name" [nzSpan]="1">
      <p>{{ userProfile.member.name | titlecase }}</p>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Mobile" [nzSpan]="1">
      <p>{{ userProfile.member.mobile1 }}</p>
      /
      <p>{{ userProfile.member.mobile2 }}</p>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Address" [nzSpan]="1">
      <p>{{ userProfile.member.address | titlecase }}</p>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="D.O.B" [nzSpan]="1">
      <P>
        {{ userProfile.member.dob }}
      </P>
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="Membership Type" [nzSpan]="1">{{
      userProfile.member.memberShip
    }}</nz-descriptions-item>

    <nz-descriptions-item nzTitle="Last payment" [nzSpan]="1">
      <p>
        {{ userProfile.member.lastPaymentDate }}
      </p>
    </nz-descriptions-item>
  </nz-descriptions>
  } @if(userProfile.traineeList; as trainee){ @for(item of trainee; track
  $index) {

  <nz-divider></nz-divider>
  <nz-descriptions
    nzLayout="vertical"
    [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }"
    nzTitle="Trainee"
  >
    <nz-descriptions-item nzTitle="Profile Pic" [nzSpan]="1">
      <nz-avatar
        [nzShape]="'square'"
        [nzSize]="128"
        nzIcon="user"
        [nzSrc]="item.profilePic"
      ></nz-avatar>
      <nz-space [nzSize]="12"> </nz-space>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Name" [nzSpan]="1">
      <p>
        {{ item.name | titlecase }}
      </p>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Mobile" [nzSpan]="1">
      <p>{{ item.mobile }}</p>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Address" [nzSpan]="1">
      <p>{{ item.address | titlecase }}</p>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Email" [nzSpan]="1">
      <p>
        {{ item.email }}
      </p>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="D.O.B" [nzSpan]="1">
      <p>{{ item.dob }}</p>
    </nz-descriptions-item>
  </nz-descriptions>
  } }

  <ng-template #memberButtons>
    @if (userRole==='Admin') {
    <nz-radio-group>
      <label title="Edit Details" nz-radio-button nzValue="large">
        <a (click)="onEdit(userProfile.member?.memberId)"
          ><span nz-icon nzType="edit" nzTheme="outline"></span> Details</a
        >
      </label>
      <label title="Add Payment" nz-radio-button nzValue="default"
        ><a (click)="onMakePayment(userProfile.member?.memberId)"
          ><span nz-icon nzType="plus" nzTheme="outline"></span> Payment</a
        ></label
      >
      <label title="Edit Payment" nz-radio-button nzValue="small"
        ><a (click)="onEditPayment(userProfile.member?.memberId)"
          ><span nz-icon nzType="edit" nzTheme="outline"></span> Payment</a
        ></label
      >
    </nz-radio-group>
    }
    <label title="Payment History" nz-radio-button nzValue="small"
      ><a (click)="onViewPaymentHistory(userProfile.member?.memberId)">
        <span nz-icon nzType="history" nzTheme="outline"></span> History</a
      ></label
    >
  </ng-template>
  }
</ng-container>
