@import 'src/assets/scss/_variables.scss';

.user-registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;

  .logo-section {
    background: $tone-green-light;
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      height: 200px;
      width: 200px;

    }


  }
}

// @media (width>=576px) {
//   .user-registration-container {
//     .logo-section {
//       width: 284px;
//     }
//   }
// }

@media (width<=480px) {

  .flex-container {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    align-items: center;
    place-items: center;
    // gap: 2rem;

    .flex-child {
      flex: 1;
    }

    .flex-child:first-child {
      margin-right: 0;
      display: flex;
      place-content: center;
      // background: $tone-green-light;
    }
  }
}

@media (width<=768px) {}


@media (width<=992px) {
  .user-registration-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    // gap: 2rem;

    .logo-section {
      width: 516px;
      flex: 1;

      img {
        height: 200px;
        width: 200px;
      }
    }

    .form-section {
      flex: 1;
      display: flex;
      place-content: center;
    }
  }
}

@media (width<=1200px) {}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .user-registration-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    // gap: 2rem;

    .logo-section {
      width: 600px;
      flex: 1;

      img {
        height: 200px;
        width: 200px;
      }
    }
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .user-registration-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    // gap: 2rem;

    .logo-section {
      width: 600px;
      flex: 1;

      img {
        height: 200px;
        width: 200px;
      }
    }

    .form-section {
      flex: 1;
      display: flex;
      place-content: center;
    }
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {

  .user-registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;

    .logo-section {
      width: 284px;


      img {
        height: 100px;
        width: 100px;
      }
    }

    .form-section {
      flex: 1;
    }
  }
}