@import 'src/assets/scss/_variables.scss';
.user-registration-container {
  display: flex;
  align-items: center;
  place-items: center;
  gap: 2rem;
  width: 50%;
  .logo-section {
    flex: 1 img {
      height: 200px;
      width: 200px;
    }
  }
  .form-section {
    flex: 1;
  }
}

.flex-container {
  display: flex;
  // padding: 7rem;
  align-items: center;
  place-items: center;
  gap: 2rem;

  .flex-child {
    flex: 1;
  }

  .flex-child:first-child {
    margin-right: 20px;
    display: flex;
    place-content: center;
    // background: $tone-green-light;
  }
}

@media (width<=576px) {
  .user-registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    gap: 2rem;
    width: 50%;
    .logo-section {
      flex: 1 img {
        height: 100px;
        width: 100px;
      }
    }
    .form-section {
      flex: 1;
    }
  }
  .flex-container {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    align-items: center;
    place-items: center;
    gap: 2rem;

    .flex-child {
      flex: 1;
    }

    .flex-child:first-child {
      margin-right: 0;
      display: flex;
      place-content: center;
      // background: $tone-green-light;
    }
  }
}

@media (width<=768px) {
  .user-registration-container {
    display: flex;
    align-items: center;
    place-items: center;
    gap: 2rem;
    width: 50%;
    .logo-section {
      flex: 1 img {
        height: 200px;
        width: 200px;
      }
    }
    .form-section {
      flex: 1;
      display: flex;
      place-content: center;
    }
    .flex-container {
      display: flex;
      padding: 7rem;
      display: flex;
      place-content: center;
    }
  }
}

@media (width<=992px) {
}

@media (width<=1200px) {
}
