@if(data){

<section id="about-us" class="content-container">
  <!-- @for(content of data; track $index){ -->
  <div
    class="image-section animate__animated animate__fadeInUp animate__delay-2s animate__slower"
  >
    <img
      [ngSrc]="data.image"
      [alt]="data.title"
      alt="About us"
      loading="lazy"
      height="400"
      width="400"
    />
  </div>
  <div
    class="message-section animate__animated animate__fadeInUp animate__delay-2s animate__slower"
  >
    <div class="sub-title">
      <span>{{ data.subTitle }} </span>
    </div>
    <div class="title text-bolder">
      <span>
        {{ data.title }}
      </span>
    </div>

    <div nz-typography nzType="secondary" class="description">
      @if (!show) {
      <p
        [innerText]="data?.description | truncate : 800"
        [ngClass]="show ? 'expand' : 'collapse'"
      ></p>
      <!-- </div> -->

      }@else {
      <p [innerText]="data?.description"></p>

      }
      <button nz-button nzShape="round" (click)="scrollTo('#about-us')">
        {{ show ? 'Show less' : 'Show more' }}
      </button>
    </div>
  </div>

  <!-- } -->
</section>
}
