@if(data) {
<section id="about-us" class="about-us">

  <div class="about-container">

    <!-- IMAGE COLUMN -->
    <div class="about-image animate__animated animate__fadeInLeft">
      <img nz-image [appLazyImg]="data.image" [src]="data.image" [alt]="data.title" loading="lazy" priority="false" />
    </div>

    <!-- TEXT COLUMN -->
    <div class="about-content animate__animated animate__fadeInRight">

      <div class="sub-title">
        <span>
          {{ data.subTitle }}
        </span>
      </div>
      <div class="title text-bolder">
        <h3>{{ data.title }}</h3>
      </div>


      <p class="description">
        @if (!show) {
        {{ data.description | truncate: 600 }}
        } @else {
        {{ data.description }}
        }
      </p>

      <!-- <button nz-button nzType="primary" nzShape="round" (click)="toggleContent()">
        {{ show ? 'Show less' : 'Read more' }}
      </button> -->

      <button nz-button nzType="primary" nzShape="round"  (click)="toggleContent()">
        {{ show ? 'Show less' : 'Show more' }}
        <nz-icon [nzType]="show ? 'up' : 'down'"></nz-icon>
      </button>
    </div>

  </div>
</section>
}