@import 'src/assets/scss/_variables.scss';


button {
  color: $gold;
  border: 1px solid $gold;
  background: transparent;

  &:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
    background-position: 0;
  }

  background: {
    image: linear-gradient(45deg, $gold 50%, transparent 50%);
    position: 100%;
    size: 300%;
  }

  transition: background 400ms ease-in-out;
}

// /* Small devices such as large phones (640px and up) */
@media (min-width: 320px) {
  // .content-container {
  //   display: flex;
  //   flex-direction: column-reverse;
  // }

  // .image-section {
  //   // padding: 6%;
  //   padding: 1rem;
  //   width: 315px;

  //   img {
  //     height: 315px;
  //     width: 320px;
  //   }
  // }

  //   .message-section {
  //     margin-bottom: 3rem;

  //     .sub-title {
  //       margin-top: 2rem;
  //     }

  //     .description {
  //       margin-top: 2rem;
  //     }

  //     button {
  //       height: 34px;
  //     }
  //   }

  //   // about-us
}

// /* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .content-container {

    gap: 7rem;

  }
}

@media (min-width: 992px) {
  .content-container {

    gap: 7rem;

  }
}

// /* Large devices such as laptops (1024px and up) */
// // @media only screen and (min-width: 64em) {
// //   .content-container {
// //     padding: 0 6rem;
// //     // background: rgb(233, 185, 98);
// //   }
// //   .image-section {
// //     padding: 23%;
// //   }
// // }