
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true">
  <img height="55px" width="55px" src="../assets/images/logo.png"alt="Loading..." />
  <p style="color: white">Loading...</p>
</ngx-spinner>

<!-- 
@if ((spinnerService.isLoading$|async)) {

<nz-spin nzTip="Loading...">
  <nz-alert nzType="info" nzMessage="Alert message title"
      nzDescription="Further details about the context of this alert."></nz-alert>
</nz-spin>
} -->
<!-- 
<ng-template #indicatorTemplate><nz-icon nzType="loading" /></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin> -->