<div class="container">
    <section class="memberentry-section">

        <!-- HEADER -->
        <div class="title">
            <div class="sub-title">
                <span>Tournament Panel
                </span>
            </div>
            <div class=" text-bolder">
                <h3>
                    {{mode==='add'?"Save":"Update"}} Team
                </h3>
            </div>
        </div>

        <form nz-form [formGroup]="form" class="team-form">

            <!-- TEAM INFO -->
            <nz-card class="section-card highlight" nzTitle="Team Information">
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzPrefixIcon="team">
                            <input nz-input placeholder="Team Name (e.g. Damak Smashers)" formControlName="name" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>

            <!-- PLAYER ONE -->
            <nz-card class="section-card" nzTitle="Player One">
                <div class="grid">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-input-group nzPrefixIcon="user">
                                <input nz-input placeholder="Full Name" formControlName="playerOneName" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <nz-input-group nzPrefixIcon="phone">
                                <input nz-input type="tel" placeholder="Mobile Number"
                                    formControlName="playerOneMobile" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <nz-select formControlName="playerOneGender" nzPlaceHolder="Gender">
                                <nz-option nzLabel="Male" nzValue="Male" />
                                <nz-option nzLabel="Female" nzValue="Female" />
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </nz-card>

            <!-- PLAYER TWO -->
            <nz-card class="section-card" nzTitle="Player Two">
                <div class="grid">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-input-group nzPrefixIcon="user">
                                <input nz-input placeholder="Full Name" formControlName="playerTwoName" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <nz-input-group nzPrefixIcon="phone">
                                <input nz-input type="tel" placeholder="Mobile Number"
                                    formControlName="playerTwoMobile" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <nz-select formControlName="playerTwoGender" nzPlaceHolder="Gender">
                                <nz-option nzLabel="Male" nzValue="Male" />
                                <nz-option nzLabel="Female" nzValue="Female" />
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </nz-card>

            <!-- META -->
            <nz-card class="section-card" nzTitle="Additional Details">
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzPrefixIcon="environment">
                            <input nz-input placeholder="Address (e.g. Damak, Jhapa)" formControlName="address" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <label nz-checkbox formControlName="hasPaid">
                        Registration Fee Paid
                    </label>
                </nz-form-item>
            </nz-card>

            <!-- ACTION -->

            <button class="submit" (click)="onSave()">{{mode==='add'?"Save":"Update"}}</button>


        </form>
    </section>
</div>