<section class="light">
  <div class="container">
    <div class="message-section animate__animated animate__slideInDown animate__slow">
      <div class="sub-title">
        <span> Event </span>
      </div>
      <div class="title text-bolder">
        <span>All Events </span>
      </div>
      <div class="description text-muted">
        <p>
          Damak Namuna Badminton Academy regularly organizes diverse events and
          training sessions aimed at fostering the sport of badminton. These
          activities cater to players of all levels, from local enthusiasts to
          state and national-level athletes, as well as veteran players. The
          academy provides a platform for skill development, competition, and
          community engagement.
        </p>
      </div>
    </div>
    @if(!(events$|async)){
    <ng-container>
      <section id="about-us" class="container content-container animate__animated animate__slideInDown animate__slow">
        <nz-skeleton-element nzType="image" [nzActive]="true"></nz-skeleton-element>
        <nz-skeleton [nzActive]="true">
        </nz-skeleton>
      </section>
    </ng-container>
    }@else {
    <ng-container>
      @for ((item of events$|async); track $index) {
      <nz-ribbon class="animate__animated animate__slideInDown animate__slow" [nzPlacement]="'start'"
        [nzColor]="item.hasActive? 'red' : 'transparent'" [nzText]="item.hasActive ? 'Active' : ''">
        <article class="postcard light green " (click)="showMore(item.eventId)">
          <a class="postcard__img_link">
            <img class="postcard__img" [src]="item.image" alt="Image Title" />
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title blue title">
              <a nz-tooltip [nzTooltipTitle]="item.title" >{{ item.title | truncate :64 }}</a>
            </h1>
            <div class="postcard__subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <p><i class="fas fa-calendar-alt mr-2"></i>{{ item.eventDate |nepaliDateFormatter }}</p>
              </time>
              <time>
                <p><i class="fas fa-clock mr-2"></i>{{ item.startTime }}</p>
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">
              {{ item.description | truncate : 100 }}
            </div>

          </div>
        </article>
      </nz-ribbon>

      }
    </ng-container>
    }

  </div>
</section>