<!-- <section class="container">

    <ul>
        @for (item of events$|async; track $index) {

        <li>
            <a href="">
                <figure>
                    <img [src]='item.image' [alt]='item.title'>
                    <figcaption>{{item.description}}</figcaption>
                </figure>
            </a>
        </li>
        }

    </ul>

</section> -->


<section class="light animate__animated animate__slideInUp  animate__slower">
    <div class="container  ">
        <div class="message-section ">
            <div class="sub-title">
                <span>Our Events
                </span>
            </div>
            <div class="title text-bolder">
                <span>
                    Events
                </span>
            </div>
            <div class="description text-muted">
                <p>
                    Damak Namuna Badminton Academy regularly organizes diverse events and training sessions aimed at
                    fostering the sport of
                    badminton. These activities cater to players of all levels, from local enthusiasts to state and
                    national-level athletes,
                    as well as veteran players. The academy provides a platform for skill development, competition, and
                    community
                    engagement.
                </p>

            </div>


        </div>
        @for (item of events$|async; track $index) {

        <article class="postcard light green">
            <a class="postcard__img_link">
                <img class="postcard__img" [src]="item.image" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">

                <h1 class="postcard__title blue"><a href="#">{{item.title}}</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                        <p>
                            <i class="fas fa-calendar-alt mr-2"></i>{{item.eventDate}}
                        </p>
                    </time>
                    <time>
                        <p>

                            <i class="fas fa-clock mr-2"></i>{{item.startTime}}
                        </p>
                    </time>



                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{item.description | truncate : 400}}</div>
                <ul class="postcard__tagbox">

                </ul>
            </div>
        </article>
        }


    </div>
</section>