@import 'src/assets/scss/_variables.scss';

::ng-deep .ant-menu-submenu-title .anticon {
  font-size: 16px;
}

.top-bar {
  overflow-x: clip;
  margin-top: 0;
  background: $tone-green-light;
  display: flex;
  flex-wrap: wrap;

  marquee {
    color: $green;
    // width: 500px;
  }

  a {
    color: $blue;

    &:hover {
      color: $secondary-color;
    }
  }

  .info {
    place-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    // margin-left: 3rem;
  }
}

@media only screen and (min-width: 320px) {
  .top-bar {
    .info {
      marquee {
        width: 200px;
        margin-left: 2rem;
      }

      flex: 2;
      height: 50px;
      padding-top: 1rem;
    }

    .social-media {
      // flex: 1;
      display: flex;
      flex-direction: column;

      a {
        padding: 4px 8px;
        font-size: large;
        border-left: 1px solid white;
        line-height: 50%;
      }

      &:hover {
        color: $gray-lighter;
      }

      &:last-child {
        padding-top: 0rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .top-bar {
    .info {
      display: flex;
      flex: 2;
      height: 50px;
      width: 900px;
      padding: 0 1rem;

      marquee {
        margin-left: 11rem;
        margin-right: 6rem;
        width: 500px;
      }

      a {
        color: white;
        padding: 4px 8px;
        font-size: medium;
        line-height: 50%;

        &:last-child {
          padding-right: 4rem;
        }
      }
    }

    .social-media {
      flex: 1;
      padding-bottom: 0;

      a {
        // color: $white;
        padding: 4px 8px;
        font-size: large;
        border-left: 1px solid white;
        line-height: 50%;
      }

      &:last-child {
        padding-right: 0;
        padding-top: 0rem;
      }
    }
  }
}

@media only screen and (min-width: 991px) {
  .top-bar {
    marquee {
      margin-left: 11rem;
      margin-right: 6rem;
      width: 500px;
    }
  }
}
