<!-- Top Header -->
<div class="top-header">
  <!-- Announcement -->
  <div class="announcement">
    <span nz-icon nzType="sound"></span>
    <marquee scrollamount="4">{{ headerData.bio }}</marquee>
  </div>

  <!-- Actions -->
  <div class="actions">
    <!-- Facebook -->
    <a nz-tooltip="Facebook" [href]="headerData.facebook" target="_blank" rel="noopener" class="social-icon">
      <i class="fab fa-facebook-square"></i>
    </a>

    <!-- User Dropdown -->
    <a nz-dropdown [nzDropdownMenu]="userMenu" nzTrigger="click" class="user-trigger">
      <span nz-icon nzType="user"></span>
    </a>
    <!-- QR / Download App Button -->
    <a class="qr-cta" (click)="navigateToQrSection()" nz-tooltip="Download our App">
      <nz-icon nzType="qrcode" nzTheme="outline"></nz-icon>
      <span class="text">Download App</span>
    </a>
    <!-- <a routerLink="/home/verify-registration" class="verify-cta">
      <span nz-icon nzType="safety-certificate"></span>
      <span class="text">Verify Registration</span>
    </a> -->

    <!-- Dropdown Menu -->
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        @if(!isLoggedIn){
        <li nz-menu-item routerLink="/auth/login">
          <span nz-icon nzType="login"></span>
          Login
        </li>
        }

        @if(isLoggedIn){
        <li nz-menu-item routerLink="/admin/user-profile">
          <span nz-icon nzType="user"></span>
          Profile
        </li>

        <li nz-menu-item nzDanger (click)="onLogout()">
          <span nz-icon nzType="logout"></span>
          Logout
        </li>
        }
      </ul>
    </nz-dropdown-menu>
  </div>
</div>