@import 'src/assets/scss/_variables.scss';

.app-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 44px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);

    .logo {
        img {
            height: 40px;
            width: auto;
        }
    }

    .nav {
        display: flex;
        gap: 24px;
        flex: 1;
        overflow-x: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .header-cta {
        button {
            font-weight: 600;
            padding: 6px 14px;
            animation: pulse 2s infinite;
            margin-left: 10rem;
        }
    }

    .mobile-menu {
        margin-left: auto; // push hamburger to right

        button {
            border: none;
        }
    }
}

/* CTA */
// .header-cta button {
//     font-weight: 600;
//     padding: 6px 14px;
//     animation: pulse 2s infinite;
// }

/* Tablet */
@media (min-width: 768px) {
    .app-header {
        padding: 14px 89px;

        .logo img {
            height: 94px;
        }
    }


    .nav {
        justify-content: center;
        align-items: center;
        gap: 55px;

        a {
            font-size: 15px;
            font-weight: 600;

            color: $black;

            &:hover {
                color: $primary-color;
            }

            &.active {
                color: $primary-color;
            }

        }
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .nav {
        overflow-x: visible;
    }
}

/* Pulse animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.6);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(34, 197, 94, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
    }
}

.mobile-menu {
    display: flex;
    align-items: center;

    button {
        border: none;
    }
}

.drawer-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;

    a {
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        // color: $gray-dark;

        &.active {
            color: $primary-color;
        }
    }
}

.ant-menu-item a {
    font-weight: 600;

    &:hover {
        color: $primary-color;
    }

    &:active {
        color: $primary-color;
    }
}

.mobile-drawer-menu {
    li[nz-menu-item] {

        a,
        span {
            text-decoration: none !important; // Remove underline globally
            color: $gray-dark;
        }

        &.active {
            font-weight: 600;
            border-left: 4px solid $primary-color;
            background: rgba(0, 128, 0, 0.05); // optional highlight
            color: $primary-color;
        }
    }
}