<header class="app-header">
    <!-- Logo -->
    <div class="logo">
        <a routerLink="/home">
            <img [src]="data?.logo" alt="Logo" />
        </a>
    </div>

    <!-- Navigation -->
    @if(!isMobile){
    <nav class="nav">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/home/events" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Events</a>
        <a routerLink="/home/training" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Training</a>
        <a routerLink="/home/tournaments" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Tournaments</a>
        <a routerLink="/home/view-tiesheet" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Tiesheet</a>
        <a routerLink="/home/all-member" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Members</a>
        <a routerLink="/home/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Gallery</a>
        <a routerLink="/home/famous-places" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Places</a>
    </nav>

    }

    <!-- Right CTA -->
    <div class="header-cta">
        <!-- <button nz-button nzShape="round" nzType="primary" routerLink="/home/famous-places">
            <span nz-icon nzType="environment"></span>
            Find My Hotel
        </button> -->
        <button nz-button nzShape="round" nzType="primary" routerLink="/home/famous-places">
            <!-- <span nz-icon nzType="environment"></span> -->
            Contact Us
        </button>
    </div>
    <!-- Mobile Hamburger -->


    @if(isMobile){

    <div class="mobile-menu" *ngIf="isMobile">
        <button nz-button nzType="default" (click)="openDrawer()">
            <i nz-icon nzType="menu"></i>
        </button>
    </div>

    <!-- Mobile Drawer -->
    <nz-drawer [nzClosable]="true" [nzVisible]="drawerVisible" nzPlacement="left" (nzOnClose)="closeDrawer()"
        [nzWidth]="250">
        <ng-container *nzDrawerContent>
            <ul nz-menu nzMode="inline" class="mobile-drawer-menu">
                <li nz-menu-item routerLinkActive="active" (click)="closeDrawer()"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/home">Home</li>
                <li nz-menu-item routerLinkActive="active" (click)="closeDrawer()"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/training">Training
                </li>
                <li nz-menu-item routerLinkActive="active" (click)="closeDrawer()"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/view-tiesheet">Tiesheet</li>
                <li nz-menu-item routerLinkActive="active" (click)="closeDrawer()"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/events">Events</li>
                <li nz-menu-item routerLinkActive="active" (click)="closeDrawer()"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/tournaments">
                    Tournaments</li>
                <li nz-menu-item routerLinkActive="active" (click)="closeDrawer()"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/all-member">Members
                </li>
                <li nz-menu-item routerLinkActive="active" (click)="closeDrawer()"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/gallery">Gallery
                </li>
                <li nz-menu-item routerLinkActive="active" (click)="closeDrawer()"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/famous-places">
                    Places</li>
            </ul>
        </ng-container>
    </nz-drawer>
    }

</header>