/* You can add global styles to this file, and also import other style files */
@import 'ng-zorro-antd/ng-zorro-antd.min.css';
@import './assets/scss/app.scss';
@import 'leaflet/dist/leaflet.css';

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: clip;
}

#about-us {
  background: lightyellow;
}

#chairperson {
  background-color: $tone-green-light;
}

button {
  border: 1px solid $black;
  font-weight: bold;
  color: $white;
  // background-color: $gold;

  &:hover {
    color: $white;
    // border: 1px solid $primary-color;
    background-position: 0;
  }

  // background: {
  //   image: linear-gradient(45deg, $gold 50%, transparent 50%);
  //   position: 100%;
  //   size: 300%;
  // }

  transition: background 400ms ease-in-out;
}

.nepali-date-picker .np_datepicker_input {
  color: $black !important;
}

.content-container {
  // padding: 1rem;
  padding: 3rem 2rem;
}

.content-with-button {
  display: flex;
}

// content heading/sub-heading
.title {
  font-size: 3rem;
  font-weight: $font-weight-bold;
  font-family: $font-primary;
}

.sub-title {
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  color: $gray-light;

  span::before {
    content: '';
    position: absolute;
    margin-top: 24px;
    border-bottom: 4px solid $gold;
  }
}

span[nz-typography] {
  display: block;
  margin: 0.25rem;
  font-weight: $font-weight-light;
  font-size: $font-size-sm;
}

span[nz-typography]+span[nz-typography] {
  margin-top: 8px;
}

// file
::ng-deep .ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: white;
}

// input field
::ng-deep .ant-input-group .ant-input {
  height: 55px;
}

// cards

.ant-card {
  &:hover {
    // transform: scale(1.01);
  }
}

.ant-card-cover {
  display: flex;
  justify-content: center;
}

.ant-card-meta-title {
  font-family: $font-primary;
}

.ant-card-meta-description {
  text-align: justify;
}

// form styling
.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.required:after {
  content: ' *';
  color: $red;
}

.required,
.not-compulsory {
  font-size: 12px;
  font-weight: bold;
}

.optional {
  content: ' ';
  color: $black;
  font-weight: $font-weight-bold;
}

::placeholder {
  color: $gray;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  // width: 450px;
  // width: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  border: 1px solid lightgray;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 1px;
}

.form label .input+span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 0px;
  // font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid+span {
  color: $primary-color;
}

.submit {
  border: none;
  outline: none;
  background-color: $primary-color;
  padding: 10px;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: $gold;
  cursor: pointer;
}

[nz-button] {
  //   background-color: $primary-color;
  cursor: pointer;
}

// [nz-button] {
//   min-width: 120px;
//   .submit {
//     background-color: $primary-color;
//   }
// }

// table
.ng-table,
th,
td {
  text-align: center;
  text-wrap: wrap;
}

.ant-table .ant-table-thead>tr>th {
  font-weight: bold;
  text-align: center;
}

.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>td {
  text-wrap: wrap;
}

img {
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.03, 1.03);
  }
}

i {
  margin-right: 8px;
}

// image and description section
.description {
  text-align: justify;
}

.image-section {
  position: relative;
  box-sizing: border-box;
  background-color: $gold;
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  img {
    object-fit: cover;
    margin-top: -3rem;
    border-radius: .25rem;
  }
}

@media only screen and (min-width: 320px) {
  .content-with-button {
    gap: 36px;
  }

  .content-container {
    padding: 3rem 2rem;
  }

  .title {
    text-justify: none;
  }

  .sub-title {
    span::before {
      width: 6%;
    }
  }

  .image-section {
    // padding: 6%;
    padding: 1rem;
    width: 350px;
    height: 360px;

    img {
      height: 350px;
      width: 350px;
    }
  }

  .message-section {
    margin-bottom: 3rem;

    .sub-title {
      margin-top: 2rem;
    }

    .description {
      margin-top: 2rem;
    }

    button {
      height: 34px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .content-with-button {
    gap: 42px;
  }

  .sub-title {
    span::before {
      width: 2%;
    }
  }

  .content-container {
    display: flex;
    gap: 2rem;
    min-height: 600px;
    padding: 2rem 2rem;

    // background: rgb(233, 185, 98);
    .image-section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0;
      width: 450px;
      height: 460px;
      // margin-top: 2rem;

      img {
        width: 450px;
        height: 450px;
        flex: 1;
      }
    }

    .message-section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .description {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
      }

      button {
        height: auto;
      }
    }
  }
}

@media (min-width: 992px) {
  .content-container {
    display: flex;
    place-content: center;
    gap: 5rem;
    min-height: 600px;
    padding: 2rem 7rem;
    margin-bottom: 4rem;

    // background: rgb(233, 185, 98);
    .image-section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 3%;
      width: 450px;
      height: 460px;
      // margin-top: 2rem;

      img {
        width: 450px;
        height: 450px;
        flex: 1;
      }
    }

    .message-section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .description {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
      }

      button {
        height: auto;
        width: 100px;
      }
    }
  }
}