/* You can add global styles to this file, and also import other style files */
@import 'ng-zorro-antd/ng-zorro-antd.min.css';
@import './assets/scss/app.scss';
@import 'leaflet/dist/leaflet.css';

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: clip;
}

button {
  transition: background 400ms ease-in-out;
  // animation: pulse 1s linear infinite;
}

.content-container {
  // padding: 1rem;
  padding: 3rem 2rem;
}

.content-with-button {
  display: flex;
}

// content heading/sub-heading
.title {
  font-size: 3rem;
  font-weight: $font-weight-bold;
  font-family: $font-primary;
}

.sub-title {
  font-family: cursive;
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  color: $gray-light;

  span::before {
    content: '';
    position: absolute;
    margin-top: 24px;
    border-bottom: 4px solid $gold;
  }
}

span[nz-typography] {
  display: block;
  margin: .25rem;
  font-weight: $font-weight-light;
  font-size: $font-size-sm;
}

span[nz-typography]+span[nz-typography] {
  margin-top: 8px;

}

// file 
::ng-deep .ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: white;
}

// input field
::ng-deep .ant-input-group .ant-input {
  height: 55px;
}

// cards

.ant-card {
  margin-bottom: 0;
}

.ant-card-cover {
  display: flex;
  justify-content: center;
}

.ant-card-meta-title {
  font-family: $font-primary;
}

.ant-card-meta-description {
  text-align: justify;
}

// form styling
.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.required:after {
  content: ' *';
  color: $red;
}

.required,
.not-compulsory {
  font-size: 12px;
  font-weight: bold;
}

.optional {
  content: ' ';
  color: $black;
  font-weight: $font-weight-bold;
}

::placeholder {
  color: $gray;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 1px;
}

.form label .input+span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 0px;
  // font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid+span {
  color: $primary-color;
}

.submit {
  border: none;
  outline: none;
  background-color: $primary-color;
  padding: 10px;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: $gold;
  cursor: pointer;
}

[nz-button] {
  //   background-color: $primary-color;
  cursor: pointer;
}

// [nz-button] {
//   min-width: 120px;
//   .submit {
//     background-color: $primary-color;
//   }
// }
.description {
  text-align: justify;
}

.image-section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 320px) {
  .content-with-button {
    gap: 36px;
  }

  .content-container {
    padding: 3rem 2rem;
  }

  .title {
    text-justify: none;
  }

  .sub-title {
    span::before {
      width: 6%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .content-with-button {
    gap: 42px;
  }

  .sub-title {
    span::before {
      width: 2%;
    }
  }
}