@import 'src/assets/scss/_variables.scss';
nz-card{
    padding: 2rem;
}

p{
    margin-bottom: .25rem;
    &:hover {
            cursor: pointer;
                color: $black;
        }
    
}


h5 {
    font-weight: $font-weight-bold;
    font-family: $font-primary;
    color: $primary-color;
    &:hover {
        cursor: pointer;
        color: $gold;
        }

    span::before {
        content: '';
        position: absolute;
        margin-top: 24px;
        border-bottom: 4px solid $gold;
    }
       
}

.ant-page-header{
    padding: 0;
}
.tournament-actions {
  display: flex;
  flex-wrap: wrap; // allow wrapping on small screens
  gap: 0.5rem; // spacing between buttons

  button {
    flex: 1 1 auto; // grow/shrink to fill row if needed
    min-width: 100px; // optional, prevent buttons from being too narrow
  }

  @media (max-width: 768px) {
    flex-direction: column; // stack buttons on small screens
    button {
      width: 100%; // full width buttons
    }
  }
}
