@import 'src/assets/scss/_variables.scss';
nz-card{
    padding: 2rem;
}

p{
    margin-bottom: .25rem;
    &:hover {
            cursor: pointer;
                color: $black;
        }
    
}


h5 {
    font-weight: $font-weight-bold;
    font-family: $font-primary;
    color: $primary-color;
    &:hover {
        cursor: pointer;
        color: $gold;
        }

    span::before {
        content: '';
        position: absolute;
        margin-top: 24px;
        border-bottom: 4px solid $gold;
    }
       
}

.ant-page-header{
    padding: 0;
}