// @font-face {
//   font-family: 'primary';
//   src: url('../../../../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf');
// }

$font-primary: 'primary';
.form-submit {
  font-family: $font-primary;
  button {
    font-weight: bold;
    border-radius: 0;
  }
}

@media (min-width: 320px) {
  .form-submit {
    display: flex;
    flex-direction: column-reverse;
    border-top: 1px solid rgb(192 182 182);
    text-transform: capitalize;
    padding-top: 2rem;
    margin-top: 2rem;
    gap: 0.5rem;
  }
}

@media (min-width: 760px) {
  .form-submit {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(192 182 182);
    text-transform: capitalize;
    padding-top: 2rem;
    margin-top: 2rem;
    gap: 2rem;
    justify-content: flex-end;

    .save {
      min-width: 160px;
    }
    .cancel {
      width: 90px;
    }
  }
}
