<div class="content-container">
    <div class="table-container container">

        <div class="sub-title">
            <span> Training
            </span>
        </div>
        <div class="title text-bolder">
            <h3>
                All Trainings
            </h3>
        </div>


        @if(data$|async;as data ){
        <nz-list>
            @for (item of data$|async; track item) {
            <!-- <nz-card nzTitle="Pushes open the window" nzSize="small"> And raises the spyglass. </nz-card> -->
            <nz-ribbon [nzColor]="'red'" [nzPlacement]="'start'" nzText="Active">
                <nz-card>
                    <nz-list-item>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <h5>
                                    <span>

                                        {{ item.title |titlecase }}
                                    </span>
                                </h5>
                            </nz-list-item-meta-title>
                            <nz-list-item-meta-description>

                                <p>
                                    <!-- <span nz-icon nzType="user-switch" nzTheme="outline"></span> -->
                                    <i class="fas fa-user-ninja"></i> {{ item.trainer }}
                                </p>


                                <p>
                                    <i class="fas fa-calendar-alt mr-2"></i>{{item.startDate}}-{{item.endDate}}
                                </p>
                                <p>
                                    <i class="fas fa-stopwatch-20"></i>{{item.fromTime}}-{{item.toTime}}
                                </p>
                                <p>
                                    <i class="fas fa-clock mr-2"></i>{{item.type}}
                                </p>
                                <p>
                                    <i class="fas fa-money-bill-alt mr-2"></i>{{item.fee|currency:'NRP':'रु ':'1.0-0'}}
                                </p>
                                <p>
                                    <i class="fas fa-users"></i>
                                    156
                                </p>
                                <button nz-button nzType="default" nzShape="round"
                                    (click)="onJoin(item.trainingMasterId)">
                                    Join now <span nz-icon nzType="right"></span>
                                </button>
                            </nz-list-item-meta-description>
                        </nz-list-item-meta>
                        <nz-list-item-action>

                        </nz-list-item-action>
                    </nz-list-item>
                </nz-card>
            </nz-ribbon>


            }
        </nz-list>
        }

    </div>
</div>