<div class="table-container">

    <div class="sub-title">
        <span> Games
        </span>
    </div>
    <div class="title text-bolder">
        <h3>
            All Games
        </h3>
    </div>


    <div>
        <nz-page-header [nzGhost]="false">


            <!-- <nz-page-header-title>Title</nz-page-header-title> -->
            <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
            <nz-page-header-extra>
                <nz-space>

                    <div [formGroup]="form" *nzSpaceItem class="training-selector">
                        <nz-select nzShowSearch nzPlaceHolder="Select round" formControlName="tournamentId">
                            @for (round of roundList$|async; track $index) {
                            <nz-option [nzLabel]="round" [nzValue]="round"></nz-option>
                            }

                        </nz-select>
                    </div>
                    <!-- <button *nzSpaceItem nz-button>
                        <span nz-icon nzType="search"></span>
                    </button> -->
                    <button nz-tooltip="Print now" nzType="primary" [useExistingCss]="true" *nzSpaceItem nz-button
                        printSectionId="print-section" ngxPrint>
                        <span nz-icon nzType="printer"></span>


                        Print</button>


                </nz-space>
            </nz-page-header-extra>

        </nz-page-header>
    </div>

    @if(data$|async;as data ){
    <div id="print-section">
        <div class="title-card">
            <nz-card nzSize="small">
                <h3>Inter Damak Namuna Badminton Academy Tournament</h3>
                <span class="left"><strong>Date: </strong>2081/06/03 - 2081/06/05</span> 
                <span class="right"><strong>Location: </strong> Damak-1, Jhapa, Nepal</span>
                <!-- <nz-page-header>
                    <nz-page-header-title>Inter Damak Namuna Badminton Academy Tournament</nz-page-header-title>
                    <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle>
                    <nz-page-header-extra>
                        <nz-space>
                            <button *nzSpaceItem nz-button>Operation</button>
                            <button *nzSpaceItem nz-button>Operation</button>
                            <button *nzSpaceItem nz-button nzType="primary">Primary</button>
                        </nz-space>
                    </nz-page-header-extra>
                    <nz-page-header-content>
                        <nz-descriptions nzSize="small" [nzColumn]="1">
                            <nz-descriptions-item nzTitle="Date" [nzSpan]="1">2081/06/03 -
                                2081/06/05</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Location" [nzSpan]="1">Damak-1, Jhapa,
                                Nepal</nz-descriptions-item>
                        </nz-descriptions>
                    </nz-page-header-content>
                </nz-page-header> -->
            </nz-card>
        </div>
        @for (item of data$|async; track item.tournamentId) {
        <nz-card nzSize="small">
            <div nz-row [nzGutter]="16" nzJustify="center">
                <!-- teamA -->
                <div nz-col nzSpan="10">


                    <div class="players-name teamA">

                        <h6>
                            <span>
                                {{ item.teamOnePlayerOne | titlecase }}
                            </span>
                        </h6>
                        <h6>
                            <span>
                                {{ item.teamOnePlayerTwo | titlecase }}
                            </span>
                        </h6>
                    </div>


                </div>
                <!-- END::TeamA -->

                <div class="vs" nz-col nzSpan="2">
                    VS
                </div>
                <!-- START::TeamB -->
                <div nz-col nzSpan="10">


                    <div class="players-name teamB">
                        <h6>
                            <span>
                                {{ item.teamTwoPlayerOne | titlecase }}
                            </span>
                        </h6>
                        <h6>

                            <span>
                                {{ item.teamTwoPlayerTwo | titlecase }}
                            </span>
                        </h6>


                    </div>



                </div>
                <!-- END::TeamB -->
            </div>
            <div nz-row [nzGutter]="16" nzJustify="center">
                <div nz-col nzSpan="10">
                    <div class="umpire">

                    </div>
                </div>
            </div>
        </nz-card>

        }


    </div>
    }
</div>